params.reads = "${projectDir}/test_data/reads/*_R1.fastq"
params.reference = "${projectDir}/test_data/reference/toy_virus.fasta"
params.outdir = "results"
params.min_depth = 1
params.container = "viral-genomics-nextflow-demo:latest"
params.queue = "short"

includeConfig 'conf/base.config'

profiles {
    docker {
        includeConfig 'conf/docker.config'
    }
    slurm {
        includeConfig 'conf/slurm.config'
    }
}
